<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group ">
    <%= form.label :title %>
    <%= form.text_field :title,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.rich_text_area :content,class:"form-control",row:100 %>
  </div>

<div class="field form-group">
<%= form.label :topic %>
<%= form.collection_select :topic_id, Topic.order(:title), :id, :title,class:"form-control"  %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
