
<div class="container bg-white">
<p id="notice"><%= notice %></p>


<h1 class="text-center text-primary">Topics</h1>

<table  class="table main">
  <thead class="thead-dark text-center">
    <tr>
      <th>Title</th>
      <th>ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="text-center">
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.id %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path,class:"btn btn-info btn-block" %>
</div>