<p id='notice'><%= notice %></p>

<p>
    <strong>Topic Title:</strong>
    <%= @topic.title%>
</p>

<ul>
<%# @most_recent_blog.inspect %>
<%= link_to @most_recent_blog[-1].title,blog_path(@most_recent_blog[-1].id) %>
<% @blogs.order(created_at: :asc).each do |blog| %>
<li> <%= link_to blog.title,blog_path(blog.id) %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_topic_path(@topic) %> 
<%= link_to 'Back', topics_path %>