<%= notice %>
<%= form_for(@portfolios_items) do |form| %>
  <div class="row">
   <div class="col-md-6">
      <div class="field form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class:"form-control" %>
      </div>

    <div class="field form-group">
      <%= form.label :subtitle %>
      <%= form.text_area :subtitle,class:"form-control" %>
      </div>


      <div class="field form-group">
      
       <%= form.label :main_image %>
       <%= form.file_field :portfolio_image,direct_upload: true ,class:"btn btn-primary btn-block" %>
       <%# form.file_field :portfolio_image, multiple: true, class:"btn btn-primary btn-block" %>
      </div>
    </div>

    
  <div class="col-md-6">
    <div class="field form-group">
    <%= form.label :body %>
    <%= form.text_area :body,class:"form-control" ,rows:15 %>
  </div>
</div>
</div>

  <hr class="bg-warning">

  <h2>Technologies used:</h2>
    <div class="field form-group">
      <%# form.label :technology_id %>
      <%#form.collection_select :technologies, Technology.order(:name), :id, :name,class:"form-control"  %>
      <%#form.collection_select :technologies, Technology.order(:name), :id, :name,class:"form-control"  %>
      <%#form.collection_select :technologies, Technology.order(:name), :id, :name,class:"form-control"  %>
       <%# form.select(:techology, @technologies.collect {|p| [ p.name, p.id ] }, 
                                           { :prompt => "Please select"}, 
                                           { :multiple => true, :size => 5 }) %>
    <div>
        <%= form.fields_for :technologies do |technology_form| %>
        <div class="form-group">
        <%= technology_form.label :name %>
        <%= technology_form.text_field :name,class:"form-control" %>
        </div>
        <% end %>
      </div>
    </div>

  <div class="actions">
    <%= form.submit 'Save Portfolio', class:"btn btn-primary btn-block"%>
  </div>
<% end %>