
<div class="col-md-4">
  <div class="card mb-4 shadow-sm" data-id="<%= portfolio_item.id %>">
    
    <%= image_tag portfolio_item.portfolio_image unless portfolio_item.portfolio_image.attached?%>
    <%# image_tag portfolio_item.portfolio_image unless portfolio_item.portfolio_image.nil?%>
    <%# image_tag(portfolio_item.portfolio_image, class: "pimage")%>
    <div class="card-body">
      <%# <p class="card-text"><span>link_to portfolio_item.title, portfolio_show_path(portfolio_item.id)</span></p> %>
      <p class="card-text"><span class="text-dark"><%= portfolio_item.title  %></span></p>
      <p class="text-dark"><%= portfolio_item.subtitle %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-primary"><%= link_to 'View', portfolio_show_path(portfolio_item.id) %></button>
          <button type="button" class="btn btn-success"><%= link_to 'Edit', edit_portfolio_path(portfolio_item.id) %></button>
        </div>
        <%# <small class="text-muted">9 mins</small> %>
      </div>
    </div>
  </div>
</div>
