<p><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item.id) %></p>
<p><%= portfolio_item.subtitle %></p>
<p><%= portfolio_item.body %></p>
<%#= image_tag item.thumb_image %>
<%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil?%>
<%= link_to "Edit Portfolio", edit_portfolio_path(portfolio_item.id) if logged_in?(:site_admin) %>
<%= link_to 'Delete Portfolio Item', portfolio_path(portfolio_item.id), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>