<h1>Angular Items</h1>


<%= link_to "create a new angular porftolio ", new_portfolio_path  %>

<% @angular_portfolios_items.each do |item| %>
    <p><%= link_to item.title, portfolio_show_path(item.id) %></p>
    <p><%= item.subtitle %></p>
    <p><%= item.body %></p>
    <%#= image_tag item.thumb_image %>
    <%= image_tag item.thumb_image unless item.thumb_image.nil?%>
    <%= link_to "Edit", edit_portfolio_path(item.id) if logged_in?(:site_admin)  %>
    <%= link_to 'Delete Portfolio Item', portfolio_path(item.id), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>
<% end %>