<h1>Edit Portfolios</h1>
<%#= form_with(model: blog, local: true) do |form| %>
<%= form_for(@portfolios_items) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

    <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_area :subtitle %>
    </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
