<div class="container portfolio-container">
    <div class="row">
        <div class="col-md-7">
        <%check_img(@portfolios_items)%>
        <%= image_tag(@img,  class: "pimage")%>
        <%#image_tag(@portfolios_items.portfolio_image,class: "pimage" ) if @portfolios_items.portfolio_image.attached?  %>
        
         </div>
            <div class="col-md-5">
            <h3><%= @portfolios_items.title %></h3>
            <hr class="bg-white">
               <em><%= @portfolios_items.subtitle %></em>
            <p><%= markdown(@portfolios_items.body) %></p>
            <hr class="bg-white">
             <h2>Technologies Used</h2>
            <% @portfolios_items.technologies.each do |tech|%>
                <p><%= tech.name %> </p>
             <% end %>
             <hr class="bg-white">
        </div>
    </div>
</div>