<header class="masthead mb-auto">
  <div class="inner ">
    <h5 class="masthead-brand mt-1">Cosmel Villalobos</h5>
    <nav class="nav nav-masthead justify-content-center">
        <%= link_to 'Home',root_path,class:"nav-link active" %>
        <%= link_to 'Blogs',blogs_path,class:"nav-link" %>
        <%= link_to 'Portfolios',portfolios_path,class:"nav-link" %>
        <%= link_to 'About Me',about_me_path,class:"nav-link" %>
        <%= link_to 'Contact Me',contact_me_to_work_path,class:"nav-link" %>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Topics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% topic_list.each do |topic|%>
          <%= link_to topic.title,topic_path(topic.id),class:"nav-link active" %>
          <% end %>
          <div class="dropdown-divider"></div>
        </div>
        <%= login_helper("nav-link") %>
        <h5 class="nav-link"> Hi, <%= current_user.first_name %> </h5>
    </nav>
  </div>
</header>