<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <%= link_to 'Home',root_path,class:"nav-link" %>
    <%= link_to 'Blogs',blogs_path,class:"nav-link" %>
    <%= link_to 'Portfolios',portfolios_path,class:"nav-link" %>
    <%= link_to 'About Me',about_me_path,class:"nav-link" %>
    <%= link_to 'Contact Me',contact_me_to_work_path,class:"nav-link"%>
    <%= login_helper "nav-link" %>
  </nav>
</div>