<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <%= render 'shared/nav',location:'top' %>

    <%= login_helper %>

    <%= yield %>

    <% if session[:source]%>
    Thanks for visiting me from <%= session[:source] %>
    <% end %>

  </body>
</html>
