<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
        <%= render 'shared/application_nav' %>
        <h1>Hi, <%= current_user.first_name %></h1>
          <%= yield %>
          <%= source_helper("application") %>
          <%= render 'shared/application_footer' %>
     </div>
  </body>
</html>
