<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

             <!-- Bootstrap core CSS -->
   <%# <link href="design/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> %>

    <%# stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  
  </head>

  <body class="bg-success h-100">

 <div class="container">
    <%= render 'shared/blog_nav' %>

  <main role="main" class="container">
    <div class="row">

      <%= yield %>

      <% render 'shared/blog_sidebar' %>
  
   </div>
 </main>
  <%# start of footer  %>
  
    <footer class="blog-footer text-center">
      <h5>Copyright <i class="far fa-copyright fa-sm"></i> Cosmel Villalobos 2021</h5>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  <%# end of footer %>
    <%= source_helper("blogs")%>
  </div>
  </body>
</html>
