<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>

  <body>

 <div class="container">
    <%= render 'shared/blog_nav' %>

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <strong class="d-inline-block mb-2 text-warning"><%= Topic.find(3).title %></strong>
        <h1 class="display-4 font-italic"><%= Topic.find(3).blogs.order(created_at: :asc)[-1].title %></h1>
        <p class="lead my-3"><%= truncate(Topic.find(3).blogs.order(created_at: :asc)[-1].body, length: 200) %> </p>
        <p class="lead mb-0"><%= link_to 'Continue reading...',blog_path(Topic.find(3).blogs.order(created_at: :asc)[-1].id)%></p>
      </div>
    </div>
    
    <div class="row mb-2">
     
      <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><%= Topic.find(1).title %></strong>
          <h3 class="mb-0"><%= Topic.find(1).blogs.order(created_at: :asc)[-1].title %></h3>
          <p class="card-text mb-auto"><%= truncate(Topic.find(1).blogs.order(created_at: :asc)[-1].body, length: 200) %></p>
          <p class="lead mb-0"><%= link_to 'Continue reading...',blog_path(Topic.find(1).blogs.order(created_at: :asc)[-1].id)%></p>
        </div>
        <%# <div class="col-auto d-none d-lg-block"> %>
          <%# {% include icons/placeholder.svg width="200" height="250" background="#55595c" color="#eceeef" text="Thumbnail" %} %>
        <%# </div> %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success"><%= Topic.find(2).title %></strong>
          <h3 class="mb-0"><%= Topic.find(2).blogs.order(created_at: :asc)[-1].title %></h3>
          <p class="mb-auto"><%= truncate(Topic.find(2).blogs.order(created_at: :asc)[-1].body, length: 200) %></p>
          <p class="lead mb-0"><%= link_to 'Continue reading...',blog_path(Topic.find(2).blogs.order(created_at: :asc)[-1].id)%></p>
        </div>
        <%# <div class="col-auto d-none d-lg-block"> %>
          <%# {% include icons/placeholder.svg width="200" height="250" background="#55595c" color="#eceeef" text="Thumbnail" %} %>
        <%# </div> %>
      </div>
    </div>
</div>
    
<div class="pb-5">
<h2><%= link_to 'Write A New Blog', new_blog_path if logged_in?(:site_admin) %></h2>
</div>
  <main role="main" class="container">
    <div class="row">

      <%= yield %>

      <%= render 'shared/blog_sidebar' %>
  
   </div>
 </main>
  <%# start of footer  %>
    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  <%# end of footer %>
    <%= source_helper("blogs")%>
  </div>
  </body>
</html>
