<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <title><%= @page_title %></title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

             <!-- Bootstrap core CSS -->
   <%# <link href="design/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> %>

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  
  </head>

  <body class="bg-success ">

 <div class="container">
    <%= render 'shared/blog_nav' %>

  <main role="main" class="container">
    <div class="row">

      <%= yield %>

      <% render 'shared/blog_sidebar' %>
  
   </div>
 </main>
    <%= source_helper("blogs")%>
    <%= render 'shared/blog_footer' %>
  </div>
  </body>
</html>
